*{
    margin: 0;
    padding: 0;
    
}

.header__title{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    height: 142px;
}

#img__head{
    padding-top: 20px;
    padding-left: 200px;
}
.link__head{
    display: flex;
    align-items: center;
    color: white;
   cursor: pointer;
}