* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    align-items: center;
    height: 150px;
}

.link__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    color: white;
    cursor: pointer;
}
